version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    allow:
      - dependency-type: "direct"
    # Serialize all Dependabot PRs to prevent merge conflicts
    # on the package.json and yarn.lock files
    open-pull-requests-limit: 1
    ignore:
      - dependency-name: "@types/react"
        versions: [">=18.0"]
