.deploying-dot {
  display: inline-block;
  border-radius: 50%;
  animation-name: pf-v6-blink;
  animation-iteration-count: infinite;
}

@keyframes pf-v6-blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
